---
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import PortfolioContainer from "../components/PortfolioContainer.astro";
import TechContainer from "../components/TechContainer.astro";

const title = 'Diego G. H. | Portfolio'
const description = 'Diego Guadarrama Hernández website to showcase his abilities as Full Stack Seveloper in React and Spring'
const pageUrl = 'https://diego-g-hernandez.pages.dev/'
const seoImageUrl = 'https://seo.ordeninginering.com/home.jpg'

---

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{title}</title>
   <link rel="icon" href="favicon.svg" type="image/svg+xml" />
   <meta name="description" content={description}>
   <meta name='generator' content={Astro.generator} />

   <meta property='og:url' content={pageUrl}>
   <meta property='og:type' content='website'>
   <meta property='og:title' content={title}>
   <meta property='og:description' content={description}>
   <meta property='og:image' content={seoImageUrl}>

   <meta name='twitter:card' content='summary_large_image'>
   <meta property='twitter:domain' content='diego-g-hernandez.pages.dev'>
   <meta property='twitter:url' content={pageUrl}>
   <meta name='twitter:title' content={title}>
   <meta name='twitter:description' content={description}>
   <meta name='twitter:image' content={seoImageUrl}>


   <script>
      import { textByLanguage } from "../scripts/translateElements"
      textByLanguage()
   </script>
   <script src="../scripts/popInAnimation.js"></script>
</head>
<body>
   <Navbar />
   <Header />
   <main>
      <PortfolioContainer />
      <TechContainer />
   </main>
</body>
</html>

<style is:global>
   :root {
      --white: #ffffff;
      --black: #000000;
      --orange-300: #FFB587;
      --yellow: #FFFA80;
      --purple: #C190FF;
      --purple-shadow: #C69AFF;
      --purple-tab: #E9CCFF;
      --blue: #2f62ff;

      --border-light: 2px solid black;
      --shadow-light: 4px;
      --shadow-heavy: 8px;

      --h2-size: 2.4rem;
      --h2-margin: 18px auto 20px auto;
      --h2-padding: 6px 12px;
   }

   * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
   }

   html {
      font-size: 62.5%;
      scroll-behavior: smooth;
   }

   body {
      font-family: sans-serif;
   }

   ul {
      list-style: none;
   }

   p, li {
      text-wrap: pretty;
   }

   .inactive {
      display: none;
   }

   & .clickeable--container {
      display: flex;
      background: var(--white);
      border: 2px solid var(--black);
      padding: 4px 8px;
      border-radius: 6px;
      text-decoration: none;
      text-align: center;
      font-size: 1.8rem;
      color: var(--black);
      align-items: center;
      transition: box-shadow 0.5s;
   }
   & .clickeable--container:hover, .clickeable--container:focus {
      outline: none;
      text-decoration: underline;
      cursor: pointer;
      box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
      transition: box-shadow 0.5s;
   }

   @media (prefers-reduced-motion: no-preference) {
      @keyframes pop-in {
         0% {
            transform: scale(.3);
         }
         35% {
            opacity: 1;
            transform: scale(.3);
         }
         50% {
            transform: scale(.7);
         }
         65% {
            transform: scale(.7);
         }
         80% {
            transform: scale(1.1);
         }
         90% {
            transform: scale(1.1);
         }
         100% {
            opacity: 1;
            transform: scale(1);
         }
      }
      .animate-pop-in {
         animation: pop-in 0.7s ease-out 0s 1 normal forwards running;
      }
   }
</style>