---
import { principalText } from '../scripts/texts'

const headerTraductions = principalText.en.header

const EMAIL = 'guadarramahernandezdiego@gmail.com'
---

<header id="presentation">
   <div class="header--title-container">
      <h1>Full Stack Developer | Java, React</h1>
   </div>
   <div class="header--content-container animate-pop-in">
      <p class="header--content__email">
         Diego Guadarrama Hernández 
         <small>
            <span aria-hidden="true">&lt;</span>{EMAIL}<span aria-hidden="true">&gt;</span> 
         </small>
         </span>
      </p>
      <p class="header--content__receiver">{headerTraductions.from}</p>
      <p class="header--content__receiver">{headerTraductions.to}</p>
      <p class="header--content__presentation">{headerTraductions.about__1}</p>
      <p class="header--content__presentation">{headerTraductions.about__2}</p>
      <footer id="contact">
         <a class="clickeable--container" rel="noreferrer" href={`mailto:${EMAIL}`} target="_blank">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M15.8333 15.8334V12.5C15.8333 11.8056 15.5903 11.2153 15.1042 10.7292C14.6181 10.2431 14.0278 10 13.3333 10H5.6875L8.6875 13L7.5 14.1667L2.5 9.16669L7.5 4.16669L8.6875 5.33335L5.6875 8.33335H13.3333C14.4861 8.33335 15.4687 8.7396 16.2812 9.5521C17.0937 10.3646 17.5 11.3472 17.5 12.5V15.8334H15.8333Z" fill="#1C1B1F"/>
            </svg>             
            <p class="contact__email">{headerTraductions.email}</p>
         </a>
         <a class="clickeable--container" rel="noreferrer" href="https://github.com/diegoghernandez" target="_blank">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M10 0C8.68678 0 7.38642 0.258658 6.17317 0.761205C4.95991 1.26375 3.85752 2.00035 2.92893 2.92893C1.05357 4.8043 0 7.34784 0 10C0 14.42 2.87 18.17 6.84 19.5C7.34 19.58 7.5 19.27 7.5 19V17.31C4.73 17.91 4.14 15.97 4.14 15.97C3.68 14.81 3.03 14.5 3.03 14.5C2.12 13.88 3.1 13.9 3.1 13.9C4.1 13.97 4.63 14.93 4.63 14.93C5.5 16.45 6.97 16 7.54 15.76C7.63 15.11 7.89 14.67 8.17 14.42C5.95 14.17 3.62 13.31 3.62 9.5C3.62 8.39 4 7.5 4.65 6.79C4.55 6.54 4.2 5.5 4.75 4.15C4.75 4.15 5.59 3.88 7.5 5.17C8.29 4.95 9.15 4.84 10 4.84C10.85 4.84 11.71 4.95 12.5 5.17C14.41 3.88 15.25 4.15 15.25 4.15C15.8 5.5 15.45 6.54 15.35 6.79C16 7.5 16.38 8.39 16.38 9.5C16.38 13.32 14.04 14.16 11.81 14.41C12.17 14.72 12.5 15.33 12.5 16.26V19C12.5 19.27 12.66 19.59 13.17 19.5C17.14 18.16 20 14.42 20 10C20 8.68678 19.7413 7.38642 19.2388 6.17317C18.7362 4.95991 17.9997 3.85752 17.0711 2.92893C16.1425 2.00035 15.0401 1.26375 13.8268 0.761205C12.6136 0.258658 11.3132 0 10 0Z" fill="black"/>
            </svg>       
            Github
         </a>
         <a class="clickeable--container" rel="noreferrer" href="https://www.linkedin.com/in/diegoghernandez/" target="_blank">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g clip-path="url(#clip0_164_164)">
               <path d="M6.201 21H1.84725V6.9795H6.201V21ZM4.0215 5.067C2.6295 5.067 1.5 3.9135 1.5 2.5215C1.5 1.85276 1.76566 1.2114 2.23853 0.73853C2.7114 0.265657 3.35276 0 4.0215 0C4.69024 0 5.3316 0.265657 5.80447 0.73853C6.27734 1.2114 6.543 1.85276 6.543 2.5215C6.543 3.9135 5.4135 5.067 4.0215 5.067ZM22.4955 21H18.1515V14.175C18.1515 12.5482 18.1185 10.4625 15.888 10.4625C13.6245 10.4625 13.2772 12.2295 13.2772 14.058V21H8.928V6.9795H13.1033V8.892H13.164C13.7453 7.79025 15.165 6.62775 17.283 6.62775C21.6893 6.62775 22.4993 9.5295 22.4993 13.2983V21H22.4955Z" fill="black"/>
               </g>
               <defs>
               <clipPath id="clip0_164_164">
               <rect width="24" height="24" fill="white"/>
               </clipPath>
               </defs>
            </svg>               
            LinkedIn
         </a>
      </footer>
   </div>
</header>

<style>
   header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;
      background: var(--orange-300);
      border-bottom: 4px solid var(--black);
      padding: 16px 16px 32px 16px;
      & .header--title-container {
         background: #FFA46B;
         border: 2px solid var(--black);
         box-shadow: 2px 2px 0px 0px var(--black);
         margin-bottom: 8px;
         padding: 12px 16px;
         & h1 {
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            color: var(--black);
         }
      }
      & .header--content-container {
         display: inline-flex;
         width: 100%;
         max-width: 75ch;
         padding: 12px 16px;
         flex-direction: column;
         align-items: flex-start;
         gap: 12px;
         background: var(--white);
         border-radius: 12px;
         border: 2px solid var(--black);
         box-shadow: 8px 8px 0px 0px #FF8A50;
         & .header--content__email {
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            color: var(--black);
         }
         & .header--content__receiver {
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            color: #636363;
         }
         & .header--content__presentation {
            font-size: 1.4rem;
            font-style: normal;
            font-weight: normal;
            line-height: 2rem;
         }
      }
      & footer {
         width: 100%;
         height: auto;
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         flex-wrap: wrap;
         gap: 8px;
         .clickeable--container {
            height: 36px;
         }
         & svg {
            margin-right: 6px;
         }
      }
      @media (width > 680px) {
         & .header--title-container h1 {
            font-size: 2.8rem;
         }
         & .header--content-container {
            & .header--content__email {
               font-size: 1.8rem;
            }
            & .header--content__receiver {
               font-size: 1.6rem;
            }
            & .header--content__presentation {
               font-size: 1.8rem;
               line-height: 2.6rem;
            }
         }
      }
   }

</style>